html {
  font-size: 18px;
   line-height: 1.4;
   background: url("../images/glasses-bg.png") center top no-repeat;
   background-size: auto 31rem;
   font-family: Helvetica, sans-serif;
}

header {
  display: column;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  height: 27.5rem;
  max-width: 996px;
  margin: auto;
  background-image:  url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-cadetblue {
  display: flex;
  background-color: cadetblue;
  color: white;
  width: 960px;
  flex-wrap: wrap;
  flex-direction: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 0 auto;
  height: 3.4;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
  margin-left: 2rem;
  height: 1.5rem;
}

.logo-name {
  font-size: 1rem;
  margin: 1rem 0;
}

.nav-container {
  max-width: 960px;
  margin: auto;
}

.truncated-menu {
  display: none;
}

.menu {
  display: flex;
  padding-left: 18rem;
  margin-right: 2rem;
}

.menu span {
  margin: 1rem 0 1rem 2rem;
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}

header .main-container {
  justify-content: flex-end;
  display: flex;
}

.headline {
  display: flex;
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 10rem;
  margin-right: 0;
}


.headline p {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 5rem;
  line-height: 1.2;
}

.service {
  display: flex;
  justify-content: center;
  margin: none;
  height: 14rem;
  width: 100%;
 }

.grid {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: none;
}

.cell1, .cell2, .cell3 {
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: 8rem;
  margin-top: 3rem;
  margin-right: 3rem;
  margin-bottom: none;
  margin-left: 3rem;
  align-items: center;
  justify-content: center;
}

.description {
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  padding-top: 1rem;
}

.cell1 img {
  display: block;
  width: 3.5rem;
  height: 5rem;
}

.cell2 img,  .cell3 img {
  display: block;
  width: 5rem;
  height: 5rem;
}

.mission {
  display: flex;
  justify-content: center;
  margin: none;
 width: 100%;
  }

.mission-grid {
  width: 960px;
  display: flex;
  justify-content: center;
  margin-top: none;
  margin-bottom: none;
}

.philosophy, .appointments {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 2.5%;
  justify-content: center;
}

.appointments {
  padding-bottom: 3rem;
}

.philosophy-title, .appointments-title {
  text-transform: uppercase;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding: 0.5rem 1.25rem;
  font-weight: bold;
  font-size: 1rem;
  justify-content: center;
  margin: 0rem 0rem 1rem 0rem;
}

/*footer*/

footer {
  display: flex;
 width: 100%;
 justify-content: center;
 }

.copyright-logo {
  display: flex;
  height: 9.5rem;
  width: 960px;
  text-align: left;
  margin-top: 5rem;
  background-color: azure;
  align-items: center;
}

.copyright-logo img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
  }

.copyright-logo span {
  font-size: 1rem;
}
/*Media Query*/

@media screen and (max-device-width: 1024px) {
  html  {
    background-size: 100% 22rem;
  }

  .container-cadetblue {
    width: 100%;
    margin: 0 0 0 0;
  }

  header {
   height: 22rem;
   max-width: 960px;
  }

  .headline {
    margin-top: 10rem;
    margin-right: 2rem;
  }

  .headline p {
    font-size: 1.33rem;
    margin: 0.75rem 4rem;
  }
}

@media only screen and (max-width: 480px){

  html  {
    background-position: 20%;
      }
  .container-cadetblue {
    width: 100%;
    margin: 0 0 0 0;
  }

  header {
   height: 17rem;
   max-width: 960px;
  }

  .headline {
    margin-top: 9rem;
    margin: 0;
  }

  .headline p {
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem 0;
    justify-content: center;
  }

  .truncated-menu {
    display: block;
  }

  .grid {

    display: column;
    justify-content: center;
  }

  .cell1, .cell2 {
    margin-top: 3.77rem;
  }

  .cell3 {
    margin-top: 1.54rem;
  }
  .description {
    font-size: 0.77rem;
  }

  .mission {
    display: column;
  }

  .appointments {
    margin-top: 4rem;
  }

  .philosophy, .appointments {
     font-size: 0.77rem;
  }
}
